<?xml version="1.0"?>
<root><mainmenus><mainmenu><module>basemgr</module><name>&#x57FA;&#x7840;&#x7BA1;&#x7406;</name><onlyadmin/><submenus><submenu><model>inst</model><name>&#x673A;&#x6784;</name><onlyadmin/></submenu><submenu><model>resource</model><name>&#x7D20;&#x6750;&#x7BA1;&#x7406;</name><onlyadmin/></submenu><submenu><model>post</model><name>&#x53D1;&#x5E03;</name><onlyadmin/></submenu><submenu><model>postcat</model><name>&#x53D1;&#x5E03;&#x7684;&#x5206;&#x7C7B;</name><onlyadmin/></submenu><submenu><model>indexbanner</model><name>&#x9996;&#x9875;&#x5E7F;&#x544A;</name><onlyadmin/></submenu><submenu><model>content</model><name>&#x6587;&#x5B57;&#x5185;&#x5BB9;</name></submenu></submenus></mainmenu></mainmenus></root>
